// Color
$color-primary: #000000;
$color-title: #000000;
$color-hover: #f609ad;
$color-white: #ffffff;
$color-very-soft-blue: #b9b0fc;

// Background
$background-body: #140e3e;
$background-sub-menu: #1c154e;
$background-primary: #333333;
$background-hover: #f609ad;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;