/* widget */
.widget-inside .widget-content label {
    display: block;
    margin-bottom: 12px;
}

.widget-inside .widget-content .widefat {
    padding: 6px;
}

/* options */
.csf-copyright {
    color: #ffffff;
}