.main-nav {
  display: grid;
  grid-gap: 10px;

  a {
    color: $color-white;
  }

  &__logo {
    a {
      display: inline-block;
      line-height: 64px;
      padding: 15px 0;
    }

    .navbar-toggler {
      padding: 0;
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;

        a {
          font-size: 1.6rem;

          &:hover {
            color: $color-hover;
          }
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          > a {
            color: $color-hover;
          }
        }

        .sub-menu-toggle {
          margin-left: 1.2rem;
          color: $color-white;
          font-size: 1.2rem;
          cursor: pointer;

          &:after {
            content: "\f078";
            display: inline-block;
            font-family: $font-awesome;
            font-style: normal;
            font-weight: 900;
            @include transition();
          }
        }

        @media (min-width: 992px) and (max-width: 1400px) {
          &:nth-last-child(1),
          &:nth-last-child(2) {
            .sub-menu {
              left: auto;
              right: 0;

              li {
                .sub-menu {
                  left: auto;
                  right: 90%;
                }

                &:hover {
                  > .sub-menu {
                    left: auto;
                    right: 100%;
                  }
                }
              }
            }
          }
        }

        @media (min-width: 992px) and (max-width: 1200px) {
          a {
            padding: 0 6px;
          }
        }

        @media (min-width: 992px) {
          .sub-menu {
            padding: 0.6rem 0;
            position: absolute;
            min-width: 160px;
            top: 120%;
            left: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            display: block !important;
            background-color: $background-sub-menu;
            transform: translateY(16px);
            @include transition();

            li {
              padding: 0.6rem 1.6rem;
              display: flex;

              a {
                white-space: nowrap;
                flex: 1;
              }

              .sub-menu {
                left: 90%;
                top: -1px;
              }

              &:hover {
                > .sub-menu {
                  left: 100%;
                }

                > .sub-menu-toggle {
                  &:after {
                    transform: rotate(-90deg);
                  }
                }
              }
            }
          }

          &:hover {
            > .sub-menu {
              top: 100%;
              z-index: 999;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    > ul {
      > li {
        @media (min-width: 1400px) {
          ~ li {
            margin-left: 5.6rem;
          }
        }
      }
    }

    @media (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #eeeeee;
      z-index: 99;

      .collapse {
        display: none !important;

        &.in {
          display: block !important;
        }
      }

      ul {
        li {
          display: block;
          padding: 0 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:last-child {
            border-bottom: 0;
          }

          a {
            display: inline-block;
            padding: 15px 0;
          }

          .sub-menu-toggle {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 12px;
            height: 20px;

            &.active {
              &:after {
                transform: rotate(180deg);
              }
            }
          }

          .sub-menu {
            display: none;
            border-top: 0;
            background-color: transparent;

            li {
              border-bottom: 0;
              padding: 0;

              a {
                padding: 8px 0;

                &:before {
                  content: "\f111";
                  display: inline-block;
                  font-family: $font-awesome;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10px;
                  margin-right: 10px;
                }
              }

              .sub-menu-toggle {
                top: 5px;
                right: 0;
              }

              .sub-menu {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }

  &__action {
    .link {
      display: inline-block;
      font-size: 1.7rem;

      span {
        display: inline-block;
        @include transition();

        &:not(:last-child) {
          margin-right: 2.6rem;
        }

        &:hover {
          color: $color-hover;
        }

        &.login {
          padding: 0.891rem 1.518rem;
          border-radius: 10px;
          @include linear-gradient(0deg, rgb(102,7,190) 0%, rgb(247,9,173) 100%);

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    grid-template-columns: 258px 1fr auto;
  }
}