.contact-us {
  line-height: 2;
  font-size: 1.4rem;
  border-bottom: 1px solid $border-color;

  span {
    display: inline-block;
    padding-left: 6px;
    padding-right: 12px;

    i.fa {
      margin-right: 5px;
    }
  }

  &__social-network {
    .social-network-item {
      margin: 0;
      width: 30px;
      text-align: center;
    }
  }
}