.site-footer {
  color: $color-white;
  background-color: $background-footer;

  a {
    color: $color-white;
  }

  section {
    &.widget {
      margin-bottom: 15px;
    }
  }

  &__column {
    padding: 5.4rem 0 2.4rem;
  }

  &__bottom {
    padding: 2.4rem 0 7rem;

    .bottom-warp {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: auto 1fr;
    }

    .menu-footer {
      text-align: right;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          padding: 0 5px;

          &:last-child {
            padding-right: 0;
          }

          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}